body{
    background-image: url("../img/login-bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

#user_table,#tasks_table{
    text-align: center;
    overflow:scroll;
    height:400px;
}
#tasks_table th,tr{
    text-align: center;
    vertical-align: middle;
}

#my_menu{
    text-align: center;
    color: #0f0f0f;
}
#login_info{
    text-align: center;
    vertical-align: middle;
}
#myherder{
    color: white;
    text-shadow: 2px 2px 4px #0f0f0f;
}
#myfooter{
    color: white;
}
#form_login{
    border-radius: 5px;
    background: rgba(232, 232, 232, 0.4);

}
#assign_win div{
    margin: auto;
    width: 200px;
}
.whitebg{
    height: 300px;
    background: rgba(255, 255, 255,1);
    border-radius: 5px;
}